$header-height: 41px;
$header-padding: 8px;
$video-list-height-mobile: 500px;

.header {
  background-color: purple;
  padding: 8px;
  color: white;
  max-height: $header-height;
}

.content {
  padding: 4px;
}

.video-list {
  padding-top: 4px;
  overflow-y: auto;
  max-height: $video-list-height-mobile;
}

.player {
  height: calc(
    100vh - $header-height - $header-padding - $video-list-height-mobile
  );
}

@media screen and (min-width: 667px) {
  .content {
    display: grid;
    grid-template-columns: auto 282px;
    height: calc(100vh - $header-height);
  }

  .video-list {
    padding-top: 0;
    padding-left: 4px;
    max-height: calc(100vh - $header-height);
  }

  .player {
    height: calc(100vh - $header-height - $header-padding);
  }
}
